.videolink {
    color: white;
    font-family: Arial;
    font-size: small;

    /* Cut off title after two lines
        in some browsers */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.videolink:hover {
    color: white;
    text-decoration: underline;
}

.videochannel {
    color: grey;
    font-family: Arial;
    font-size: smaller;
}

.videodate {
    color: grey;
    font-family: Arial;
    font-size: x-small;
}

.watchedbutton {
    display: none;
    margin-top: -32px;
}

.videothumbnail:hover + .watchedbutton, .watchedbutton:hover {
    display:block;
}