.videolink {
    color: white;
    font-family: Arial;
    font-size: small;
}

.videolink:hover {
    color: white;
    text-decoration: underline;
}

.videochannel {
    color: grey;
    font-family: Arial;
    font-size: smaller;
}

.videodate {
    color: grey;
    font-family: Arial;
    font-size: x-small;
}

.watchedbutton {
    margin-top: -32px;
}